<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="INFO">
    <!-- 全局参数 -->
    <Properties>
       <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36}: %msg%n%throwable</Property>
        <Property name="patternColor">%highlight{%d{HH:mm:ss,SSS} [%t] %-5level %logger{36}: %msg%n%throwable}{FATAL=Bright Red,
            ERROR=Bright Red,WARN=Yellow,INFO=Bright White,DEBUG=Cyan,TRACE=Black}
        </Property>
        <Property name="displayName">@project.artifactId@</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${patternColor}</pattern>
            </PatternLayout>
        </Console>
        <!-- 滚动文件 -->
        <RollingFile name="rollingFile" fileName="logs/${displayName}.log"
                     filePattern="logs/${displayName}_%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="WARN" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</configuration>
