### VisualStudioCode template
.vscode
.vscode/*
### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### JetBrains template
/**/*.iml
.idea/
.project
.classpath
Chart.lock
